.averages {
	flex-direction: column;
	gap: 25px;
}
.averages h2 {
	display: inline-block;
	margin: 0;
	padding: 0 10px;
	font-size: 14px;
	text-transform: uppercase;
	background: var(--rx);
	color: var(--rx-text);
}

/* Items */

.averages__item {
	display: flex;
	flex-wrap: wrap;
}
.averages__item h3 {
	flex: 0 0 100%;
	margin: 0 0 10px;
	font-size: 20px;
	text-transform: uppercase;
}

/* List */

.averages__list {
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	list-style: none;
}
.averages__list li {
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 1.2;
}
.averages__list li.rx {
	color: var(--rx);
}
.averages__list li.tx {
	color: var(--tx);
}

/* Charts */

.averages__chart {
	flex: 0 0 25px;
	display: flex;
	flex-direction: row;
	gap: 3px;
}
.averages__chart div {
	height: 100%;
	background: var(--chart-background);
}
.averages__chart span {
	display: block;
	width: 5px;
}
.averages__chart .rx span {
	background: var(--rx);
}
.averages__chart .tx span {
	background: var(--tx);
}

/* Animation */

.averages__chart span {
	animation-delay: 100ms;
	animation-name: averages;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: linear;
}

@keyframes averages {
	0% { height: 0%; }
	100% { height: var(--height); }
}