.aside {
	flex-direction: column;
	gap: 25px;

	h2 {
		cursor: pointer;
		position: relative;
		display: inline-block;
		margin: 0;
		padding: 0 20px 0 10px;
		font-size: 14px;
		text-transform: uppercase;
		white-space: nowrap;
		background: var(--rx);
		color: var(--rx-text);
		transition: all .2s linear;

		&::after {
			content: '';
			position: absolute;
			bottom: 9px;
			right: 7px;
			width: 5px;
			height: 5px;
			border-right: 1px solid var(--rx-text);
			border-bottom: 1px solid var(--rx-text);
			transform: rotate(45deg);
		}

		&:hover {
			color: var(--tx-text);
			background: var(--tx);
			transition: all .2s linear;
		}

		&:hover::after {
			border-color: var(--tx-text);
		}
	}

	// Items

	&__item {
		display: flex;
		flex-wrap: wrap;

		h3 {
			flex: 0 0 100%;
			margin: 0 0 10px;
			font-size: 20px;
			text-transform: uppercase;
		}
	}

	// List

	&__list {
		flex: 0 0 auto;
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			padding: 0;
			margin: 0;
			font-size: 13px;
			line-height: 1.2;

			&.rx {
				color: var(--rx);
			}

			&.tx {
				color: var(--tx);
			}
		}
	}

	// Charts

	&__chart {
		flex: 0 0 25px;
		display: flex;
		flex-direction: row;
		gap: 3px;

		div {
			height: 100%;
			background: var(--chart-background);
		}

		span {
			display: block;
			width: 5px;
		}

		.rx span {
			background: var(--rx);
		}

		.tx span {
			background: var(--tx);
		}
	}
}

/* Animation */

.aside__chart span {
	animation-delay: 100ms;
	animation-name: aside;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: linear;
}

@keyframes aside {
	0% {
		height: 0%;
	}

	100% {
		height: var(--height);
	}
}