.aside {
	flex-direction: column;
	gap: 25px;
}
.aside h2 {
	cursor: pointer;
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0 20px 0 10px;
	font-size: 14px;
	text-transform: uppercase;
	white-space: nowrap;
	background: var(--rx);
	color: var(--rx-text);
	transition: all .2s linear;
}
.aside h2::after {
	content: '';
	position: absolute;
	bottom: 9px;
	right: 7px;
	width: 5px;
	height: 5px;
	border-right: 1px solid var(--rx-text);
	border-bottom: 1px solid var(--rx-text);
	transform: rotate(45deg);
}
.aside h2:hover {
	color: var(--tx-text);
	background: var(--tx);
	transition: all .2s linear;
}
.aside h2:hover::after {
	border-color: var(--tx-text);
}

/* Items */

.aside__item {
	display: flex;
	flex-wrap: wrap;
}
.aside__item h3 {
	flex: 0 0 100%;
	margin: 0 0 10px;
	font-size: 20px;
	text-transform: uppercase;
}

/* List */

.aside__list {
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	list-style: none;
}
.aside__list li {
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 1.2;
}
.aside__list li.rx {
	color: var(--rx);
}
.aside__list li.tx {
	color: var(--tx);
}

/* Charts */

.aside__chart {
	flex: 0 0 25px;
	display: flex;
	flex-direction: row;
	gap: 3px;
}
.aside__chart div {
	height: 100%;
	background: var(--chart-background);
}
.aside__chart span {
	display: block;
	width: 5px;
}
.aside__chart .rx span {
	background: var(--rx);
}
.aside__chart .tx span {
	background: var(--tx);
}

/* Animation */

.aside__chart span {
	animation-delay: 100ms;
	animation-name: aside;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: linear;
}

@keyframes aside {
	0% { height: 0%; }
	100% { height: var(--height); }
}