@use "styles/breakpoint";

.logo {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	grid-column: 13 / span 4;
	grid-row: 4 / span 3;

	h1 {
		font-size: 72px;
		font-weight: 100;
		line-height: 1;
		margin: 0;
	}

	small {
		display: block;
		font-size: 10px;
		text-align: right;
		margin-right: 10px;
	}

	@include breakpoint.down(md) {
		grid-column: 2 / span 3;
		grid-row: 1 / span 1;
		height: 100px;

		h1 {
			font-size: 45px;
		}
	}
}

/* Animation */

.logo {
	animation-name: logo;
	animation-duration: 1s;
	animation-timing-function: linear;
}

@keyframes logo {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
