.summary {
	justify-content: end;

	&__charts {
		display: flex;
		gap: 15px;
		flex-wrap: wrap;
		justify-content: flex-end;

		svg {
			width: 63px;
			height: 40px;
		}

		p {
			margin: 0;
			font-size: 10px;
			color: var(--text);
			text-align: right;
			white-space: nowrap;
			text-transform: capitalize;

			&.rx {
				color: var(--rx);
			}

			&.tx {
				color: var(--tx);
			}
		}
	}

	&__charts-group {
		display: flex;
		gap: 3px;
	}

	&__charts-group.is-day>div,
	&__charts-group.is-month>div {
		flex: 1 1 50%;
		width: 50%;
	}

}