.about {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
.about__overlap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--card);
	backdrop-filter: blur(2px);
}
.about__modal {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 25px;
	width: 500px;
	transform: translate(-50%, -50%);
	background: var(--card-highlight);
	border: 1px solid var(--rx);
}
.about__modal h1 {
	margin: 0 0 15px;
	font-size: 30px;
	text-align: center;
}
.about a {
	color: var(--text);
}
.about dl {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}
.about dt {
	flex: 0 0 20%;
	margin: 0;
}
.about dd {
	flex: 0 0 80%;
	margin: 0;
}
.about p {
	margin: 1em 0 0;
}

/* Animation */

.about__overlap {
	animation-name: about_overlap;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: linear;
}

@keyframes about_overlap {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.about__modal {
	animation-name: about_modal;
	animation-delay: .5s;
	animation-duration: .5s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

@keyframes about_modal {
	0% { top: 40%; opacity: 0; }
	100% { top: 50%; opacity: 1; }
}