.about {
	dl {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
	}

	dt {
		flex: 0 0 80px;
		margin: 0;
		padding-right: 10px;
		text-align: right;
	}

	dd {
		flex: 0 0 calc(100% - 80px);
		margin: 0;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	p {
		margin: 1em 0 0;
	}
}
