.chart-view {
	position: relative;
	display: flex;
}

/* Menu */

.chart-view__menu {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
}
.chart-view__menu button {
	cursor: pointer;
	display: block;
	margin: 5px 0;
	font-size: 12px;
	text-align: right;
	color: var(--text);
}
.chart-view__menu button:hover,
.chart-view__menu button.active {
	color: var(--rx);
}