@use "styles/breakpoint";

.chartView {
	position: relative;
	display: flex;
	grid-column: 1 / span 16;
	grid-row: 8 / span 2;

	@include breakpoint.down(md) {
		grid-column: 1 / span 4;
		grid-row: 3 / span 1;
		height: 200px;
		margin: 2rem 0;
	}
}

// Menu

.menu {
	z-index: 1;
	position: absolute;
	bottom: 70%;
	right: 0;
	display: flex;
	flex-direction: column;

	button {
		cursor: pointer;
		display: block;
		margin: 5px 0;
		font-size: 12px;
		text-align: right;
		color: var(--text);

		&:hover,
		&:global(.active) {
			color: var(--rx);
		}
	}

	@include breakpoint.down(md) {
		display: none;
	}
}
