.estimated {
	flex-direction: column;
	gap: 25px;
}
.estimated h2 {
	display: inline-block;
	margin: 0;
	padding: 0 10px;
	font-size: 14px;
	text-transform: uppercase;
	background: var(--rx);
	color: var(--rx-text);
}

/* Items */

.estimated__item {
	display: flex;
	flex-wrap: wrap;
}
.estimated__item h3 {
	flex: 0 0 100%;
	margin: 0 0 10px;
	font-size: 20px;
	text-transform: uppercase;
}

/* List */

.estimated__list {
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	list-style: none;
}
.estimated__list li {
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 1.2;
}
.estimated__list li.rx {
	color: var(--rx);
}
.estimated__list li.tx {
	color: var(--tx);
}

/* Charts */

.estimated__chart {
	flex: 0 0 25px;
	display: flex;
	flex-direction: row;
	gap: 3px;
}
.estimated__chart > div {
	height: 100%;
	background: var(--chart-background);
}
.estimated__chart > div > div {
	width: 5px;
}
.estimated__chart .rx div {
	background: var(--rx);
}
.estimated__chart .tx div {
	background: var(--tx);
}

/* Animation */

.estimated__chart > div > div {
	animation-delay: 100ms;
	animation-name: estimated;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: linear;
}

@keyframes estimated {
	0% { height: 0%; }
	100% { height: var(--height); }
}