*,
*::before,
*::after {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

body {
	scrollbar-width: none;
	position: relative;
	padding: 0;
	margin: 0;
	font-family: "Saira", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: var(--text);
	background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}

// Button reset

button {
	cursor: pointer;
	padding: 0;
	margin: 0;
	font-family: "Saira", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1;
	border: 0;
	background: transparent;
	appearance: none;
	outline: none;
}
